<!-- DOUBLE LUXURY ROOM -->
<hero class="double-room-hero">
    <h1 class="room-hero-title">
        Double luxury room
    </h1> <!-- ЗАГОЛОВОК СТОРІНКИ DOUBLE LUXURY ROOM -->

    <button type="button" class="room-prices-btn">View prices</button>   <!-- Кнопка “View prices” відкриватиме модальне вікно Prices per Room Modal window -->

    <div class="hero-room-slider container">   <!-- Слайдер з контентними зображеннями готелю -->
        <ul class="hero-room-list">
            <li class="hero-room-item">
                <picture>
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/desktop/hero-room-1-1x.jpg   1x, 
                            /src/img/page-room/hero-room/desktop/hero-room-1-2x.jpg   2x
                        " 
                        media="(min-width:1440px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/tablet/tab-hero-room-1-1x.jpg   1x, 
                            /src/img/page-room/hero-room/tablet/tab-hero-room-1-2x.jpg   2x
                        " 
                        media="(min-width:768px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/mobile/mob-hero-room-1-1x.jpg   1x, 
                            /src/img/page-room/hero-room/mobile/mob-hero-room-1-2x.jpg   2x
                        " 
                        media="(max-width:767px)"
                    >
                    <img 
                        rc="/src/img/page-room/hero-room/mobile/mob-hero-room-1-1x.jpg" 
                        alt="bedroom"
                    >
                </picture>
            </li>
            <li class="hero-room-item">
                <picture>
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/desktop/hero-room-2-1x.jpg   1x, 
                            /src/img/page-room/hero-room/desktop/hero-room-2-2x.jpg   2x
                        " 
                        media="(min-width:1440px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/tablet/tab-hero-room-2-1x.jpg   1x, 
                            /src/img/page-room/hero-room/tablet/tab-hero-room-2-2x.jpg   2x
                        " 
                        media="(min-width:768px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/mobile/mob-hero-room-2-1x.jpg   1x, 
                            /src/img/page-room/hero-room/mobile/mob-hero-room-2-2x.jpg   2x
                        " 
                        media="(max-width:767px)"
                    >
                    <img 
                        src="/src/img/page-room/hero-room/mobile/mob-hero-room-2-1x.jpg" 
                        alt="kitchen"
                    >
                </picture>
            </li>
            <li class="hero-room-item">
                <picture>
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/desktop/hero-room-3-1x.jpg   1x, 
                            /src/img/page-room/hero-room/desktop/hero-room-3-2x.jpg   2x
                        " 
                        media="(min-width:1440px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/tablet/tab-hero-room-3-1x.jpg   1x, 
                            /src/img/page-room/hero-room/tablet/tab-hero-room-3-2x.jpg   2x
                        " 
                        media="(min-width:768px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/mobile/mob-hero-room-2-1x.jpg   1x, 
                            /src/img/page-room/hero-room/mobile/mob-hero-room-3-2x.jpg   2x
                        " 
                        media="(max-width:767px)"
                    >
                    <img 
                        src="/src/img/page-room/hero-room/mobile/mob-hero-room-3-1x.jpg" 
                        alt="living room"
                    >
                </picture>
            </li>
            <li class="hero-room-item">
                <picture>
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/desktop/hero-room-4-1x.jpg   1x, 
                            /src/img/page-room/hero-room/desktop/hero-room-4-2x.jpg   2x
                        " 
                        media="(min-width:1440px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/tablet/tab-hero-room-4-1x.jpg   1x, 
                            /src/img/page-room/hero-room/tablet/tab-hero-room-4-2x.jpg   2x
                        " 
                        media="(min-width:768px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/mobile/mob-hero-room-4-1x.jpg   1x, 
                            /src/img/page-room/hero-room/mobile/mob-hero-room-4-2x.jpg   2x
                        " 
                        media="(max-width:767px)"
                    >
                    <img 
                        src="/src/img/page-room/hero-room/mobile/mob-hero-room-4-1x.jpg" 
                        alt="bathroom"
                    >
                </picture>
            </li>
            <li class="hero-room-item">
                <picture>
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/desktop/hero-room-5-1x.jpg   1x, 
                            /src/img/page-room/hero-room/desktop/hero-room-5-2x.jpg   2x
                        " 
                        media="(min-width:1440px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/tablet/tab-hero-room-5-1x.jpg   1x, 
                            /src/img/page-room/hero-room/tablet/tab-hero-room-5-2x.jpg   2x
                        " 
                        media="(min-width:768px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/mobile/mob-hero-room-5-1x.jpg   1x, 
                            /src/img/page-room/hero-room/mobile/mob-hero-room-5-2x.jpg   2x
                        " 
                        media="(max-width:767px)"
                    >
                    <img 
                        src="/src/img/page-room/hero-room/mobile/mob-hero-room-5-1x.jpg" 
                        alt="dressing room"
                    >
                </picture>
            </li>
            <li class="hero-room-item">
                <picture>
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/desktop/hero-room-6-1x.jpg   1x, 
                            /src/img/page-room/hero-room/desktop/hero-room-6-2x.jpg   2x
                        " 
                        media="(min-width:1440px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/tablet/tab-hero-room-6-1x.jpg   1x, 
                            /src/img/page-room/hero-room/tablet/tab-hero-room-6-2x.jpg   2x
                        " 
                        media="(min-width:768px)"
                    >
                    <source 
                        srcset="
                            /src/img/page-room/hero-room/mobile/mob-hero-room-6-1x.jpg   1x, 
                            /src/img/page-room/hero-room/mobile/mob-hero-room-6-2x.jpg   2x
                        " 
                        media="(max-width:767px)"
                    >
                    <img 
                        src="/src/img/page-room/hero-room/mobile/mob-hero-room-6-1x.jpg" 
                        alt="shower"
                    >
                </picture>
            </li>
        </ul>
    </div>

    <div class="hero-room-tagline container">
        <!-- Підзаголовок секції -->
        <p class="hero-double-tagline">
            The Mimino hotel features spacious and stylish double luxury rooms with
            modern amenities for a comfortable stay.
        </p>
    </div>
</hero>