<!-- DOUBLE LUXURY ROOM -->
<hero class="double-room-hero">
    <h1>Double luxury room</h1>
    <!-- ЗАГОЛОВОК СТОРІНКИ DOUBLE LUXURY ROOM -->

    <button type="button" class="">View prices</button>
    <!-- Кнопка “View prices” відкриватиме модальне вікно Prices per Room Modal window -->

    <div class="double-slider">
        <!-- Слайдер з контентними зображеннями готелю -->
        <ul>
            <li class="double-img">
                <img src="/src/img/double-1-2x.jpg" alt="double-first-slide" width="250px" />
            </li>
            <li class="double-img">
                <img src="/src/img/double-2-2x.jpg" alt="double-second-slide" width="250px" />
            </li>
            <li class="double-img">
                <img src="/src/img/double-3-2x.jpg" alt="double-third-slide" width="250px" />
            </li>
        </ul>
    </div>

    <div class="">
        <!-- Підзаголовок секції -->
        <p class="hero-double-tagline">
            The Mimino hotel features spacious and stylish double luxury rooms with
            modern amenities for a comfortable stay.
        </p>
    </div>
</hero>