<section class="double-section">
  <div class="container">
    <div class="double__content_wrap">
      <h2 class="double__content_title">DOUBLE <br />LUXURY ROOM</h2>
      <p class="double__content_text">
        Experience luxury in our Double Luxury Room at Mimino Hotel. This
        spacious room features a comfortable bed, private bathroom, flat-screen
        TV, and high-speed Wi-Fi. Climate control, blackout curtains, and
        soundproofing ensure a peaceful night's sleep.
      </p>
      <p class="double__content_text lower-text">
        Relax after a busy day at the writing desk or armchair. Book now for a
        convenient and comfortable stay.
      </p>
      <div class="welcome__btn_wrap">
        <button class="double__btn">More details</button>
        <button class="double__btn">View prices</button>
      </div>
      <div class="img_block">
        <div class="img__block_big">
          <img src="../../img/room-img1.jpg" alt="bedroom" />
        </div>
        <div class="img__block_small">
          <img src="../../img/room-img2.jpg" alt="bathroom" />
          <img src="../../img/room-img3.jpg" alt="kitchen" />
        </div>
      </div>
    </div>
  </div>
</section>
