<!--Hotel page / Four-seater Room-->

<section>
  <div class="container">
    <ul class="room-photos-list">
      <li class="room-photos-item"></li>
      <li class="room-photos-item"></li>
      <li class="room-photos-item"></li>
    </ul>

    <h2 class="four-seater-title">four-seater room</h2>
    <p class="four-seater-description">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>

    <ul class="four-seater-btn-list">
        <li class="four-seater-btn-item">
            <a href="../pages-room/">More details</a>
        </li>
        <li class="four-seater-btn-item">
            <button type="button">View prices</button>
        </li>
    </ul>
  </div>
</section>
