<!--Hotel page / Four-seater Room-->

<section>
  <div class="container">
    <ul class="room-photos-list">
      <li class="room-photos-item"></li>
      <li class="room-photos-item"></li>
      <li class="room-photos-item"></li>
    </ul>

    <h2 class="four-seater-title">four-seater room</h2>
    <p class="four-seater-description">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>

    <div>class="four-seater-btn-set</div>
            <a href="../pages-room/"  class="four-seater-btn">More details</a>
            <button type="button" class="four-seater-btn">View prices</button>
  </div>
</section>
