<!--Page HOTEL > section:  four-seater room -->

<section>

<ul>
    <li><picture></picture></li>
    <li><picture></picture></li>
    <li><picture></picture></li>
</ul>

<h2>four-seater room</h2>

<p>Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.</p>

<a href="">More details</a>

<button type="button">View prices</button>

</section>