<!-- SECTION HOTEL -->
<section class="hero-hotel">

    <h1>HOTEL</h1> <!-- ЗАГОЛОВОК СТОРІНКИ HOTEL -->

    <button type="button" class="">book a room</button>
    <!-- Кнопка “Book a Room” відкриватиме модальне вікно Book a Room Modal window -->

    <button type="button" class="">View prices</button>
    <!-- Кнопка “View prices” відкриватиме модальне вікно Prices per Room Modal window -->

    <div class="slider"> <!-- Слайдер з контентними зображеннями готелю -->
        <ul>
            <li class="hotel-img">
                <img src="/src/img/hero-hotel-1-1x.jpg" alt="hotel-first-slide" width="250px">
            </li>
            <li class="hotel-img">
                <img src="/src/img/hotel-second-slide.jpg" alt="hotel-second-slide" width="250px">
            </li>
            <li class="hotel-img">
                <img src="/src/img/hotel-third-slide.jpg" alt="hotel-third-slide" width="250px">
            </li>
        </ul>
    </div>

    <div class=""> <!-- Підзаголовок секції -->
        <p class="hero-hotel-tagline">
            Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has
            something for
            everyone.
        </p>
    </div>
</section>