<section>
    <ul>
        <li> 
 <picture>
<source srcset="
../pages-hotel/img-triple/triple-mob.jpg     1x,
../pages-hotel/img-triple/triple-mob-2x.jpg  2x"
media="(max-width: 767px)"
/>
<source srcset="
../pages-hotel/img-triple/triple-tablet.jpg     1x,
../pages-hotel/img-triple/triple-tablet-2x.jpg  2x"
media="(min-width: 768px)"
/>
<source srcset="
../pages-hotel/img-triple/triple-desktop.jpg      1x,
../pages-hotel/img-triple/triple-desktop-2x.jpg   2x"
media="(min-width: 1440px)"
/>
<img src="../pages-hotel/img-triple/triple-desktop.jpg" alt="photo of room"
width="539">
 </picture>
        </li>
<li>
    <picture>
        <source srcset="
        ../pages-hotel/img-triple/triple3-mob.jpg     1x,
        ../pages-hotel/img-triple/triple3-mob-2x.jpg  2x"
        media="(max-width: 767px)"
        />
        <source srcset="
        ../pages-hotel/img-triple/triple3-tablet.jpg     1x,
        ../pages-hotel/img-triple/triple3-tablet-2x.jpg  2x"
        media="(min-width: 768px)"
        />
        <source srcset="
        ../pages-hotel/img-triple/triple3-desktop.jpg      1x,
        ../pages-hotel/img-triple/triple3-desktop-2x.jpg   2x"
        media="(min-width: 1440px)"
        />
        <img src="../pages-hotel/img-triple/triple3-desktop.jpg" alt="photo of kitchen"
        width="386">
         </picture>
                </li>
        <li>
            <picture>
                <source srcset="
                ../pages-hotel/img-triple/triple2-mob.jpg     1x,
                ../pages-hotel/img-triple/triple2-mob-2x.jpg  2x"
                media="(max-width: 767px)"
                />
                <source srcset="
                ../pages-hotel/img-triple/triple2-tablet.jpg     1x,
                ../pages-hotel/img-triple/triple2-tablet-2x.jpg  2x"
                media="(min-width: 768px)"
                />
                <source srcset="
                ../pages-hotel/img-triple/triple2-desktop.jpg      1x,
                ../pages-hotel/img-triple/triple2-desktop-2x.jpg   2x"
                media="(min-width: 1440px)"
                />
                <img src="../pages-hotel/img-triple/triple2-desktop.jpg" alt="photo of bathroom"
                width="387">
                 </picture>
        </li>
    </ul>
    <a href="">More details</a>
    <button type="button">View prices</button>
    <h2>Triple Room</h2>
    <p>Escape to our spacious Triple Room, perfect for families or groups.
        Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
    <p>Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>

</section>