<section class="section-triple">
    <ul class="triple-list">
        <li class="triple-item"> 
 <picture>
    <source
    srcset="
            /src/img/page-hotel/triple/desktop/triple-2-1x.jpg 1x ,
            /src/img/page-hotel/triple/desktop/triple-2-2x.jpg 2x"
            media="(min-width:1440px)"
            />
            <source
            srcset="
            /src/img/page-hotel/triple/tablet/tab-triple-1-1x.jpg  1x ,
            /src/img/page-hotel/triple/tablet/tab-triple-1-2x.jpg  2x"
            media="(min-width:768px)"
            />
            <source
            srcset="/src/img/page-hotel/triple/mobile/mob-triple-1-1x.jpg 1x ,
                    /src/img/page-hotel/triple/mobile/mob-triple-1-2x.jpg 2x"
                    media="(max-width:767px)"
            />
<img src="/src/img/page-hotel/triple/desktop/triple-2-1x.jpg" alt="photo of room">
 </picture>
        </li>
        <li class="triple-item">
    <picture>
        <source srcset="
        /src/img/page-hotel/triple/desktop/triple-3-1x.jpg 1x,
        /src/img/page-hotel/triple/desktop/triple-3-2x.jpg 2x"
        media="(min-width:1440px)"
        />
        <source srcset="
        /src/img/page-hotel/triple/tablet/tab-triple-2-1x.jpg 1x,
        /src/img/page-hotel/triple/tablet/tab-triple-2-2x.jpg 2x"
        media="(min-width: 768px)"
        />
        <source srcset="
        /src/img/page-hotel/triple/mobile/mob-triple-2-1x.jpg  1x,
        /src/img/page-hotel/triple/mobile/mob-triple-2-2x.jpg   2x"
        media="(max-width:767px)"
        />
        <img src="/src/img/page-hotel/triple/desktop/triple-3-1x.jpg" alt="photo of bathroom">
         </picture>
                </li>

        <li class="triple-item">
            <picture>
                <source srcset="
                /src/img/page-hotel/triple/desktop/triple-1-1x.jpg 1x,
                /src/img/page-hotel/triple/desktop/triple-1-2x.jpg 2x"
                media="(min-width:1440px)"
                />
                <source srcset="
                /src/img/page-hotel/triple/tablet/tab-triple-3-1x.jpg 1x,
                /src/img/page-hotel/triple/tablet/tab-triple-3-2x.jpg 2x"
                media="(min-width: 768px)"
                />
                <source srcset="
                /src/img/page-hotel/triple/mobile/mob-triple-3-1x.jpg   1x,
                /src/img/page-hotel/triple/mobile/mob-triple-3-2x.jpg   2x"
                media="(max-width:767px)"
                />
                <img src="/src/img/page-hotel/triple/desktop/triple-1-1x.jpg" alt="photo of kitchen">
                 </picture>
        </li>
    </ul> 
    <div class="link-btn">
        <a href="">More details</a>
    </div>
   <div class="prices-btn">
    <button type="button">View prices</button>
   </div>
    <h2>Triple Room</h2>
    <p>Escape to our spacious Triple Room, perfect for families or groups.
        Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
    <p>Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
</section>
