<!--Restourant Page Hero-->

<section>
  <div class="container">

    <h1 class="rest-hero-title">restaurant</h1>

    <ul class="rest-btn-list">
      <li class="rest-btn-item">
        <button class="rest-btn">book a table</button>
      </li>
      <li class="rest-btn-item">
        <a href="" class="rest-btn">View a menu</a>
      </li>
    </ul>

    <ul class="hero-pictures-list">
      <li class="pictures-list-item"></li>
      <li class="pictures-list-item"></li>
    </ul>

    <p class="rest-hero-text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>

  </div>
</section>
