<section class="restaurant-menu">
    <h3 class="restaurant-menu-title">
        Restaurant menu
    </h3>
    <div class="restaurant-menu-list-wrap">
        <h4 class="restaurant-menu-list-title">Hot meals</h4>
        <ul class="restaurant-menu-list list">
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Veal borscht with beans</p>
                <p class="restaurant-menu-dish-weight">400 g</p>
                <p class="restaurant-menu-dish-ing">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                <p class="restaurant-menu-dish-price">240 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Cheese soup with chicken</p>
                <p class="restaurant-menu-dish-weight">400 g</p>
                <p class="restaurant-menu-dish-ing">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                <p class="restaurant-menu-dish-price">200 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Carbonara pasta</p>
                <p class="restaurant-menu-dish-weight">400 g</p>
                <p class="restaurant-menu-dish-ing">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                <p class="restaurant-menu-dish-price">430 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Pork steak</p>
                <p class="restaurant-menu-dish-weight">400 g</p>
                <p class="restaurant-menu-dish-ing">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                <p class="restaurant-menu-dish-price">500 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Gorbusha in white wine sauce</p>
                <p class="restaurant-menu-dish-weight">400 g</p>
                <p class="restaurant-menu-dish-ing">Tender redfish, cream sauce based on white wine</p>
                <p class="restaurant-menu-dish-price">400 UAH</p>
            </li>
        </ul>
    </div>
    <div class="restaurant-menu-list-wrap">
        <h4 class="restaurant-menu-list-title">Side dishes and snacks</h4>
        <ul class="restaurant-menu-list list">
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Baked vegetables</p>
                <p class="restaurant-menu-dish-weight">200 g</p>
                <p class="restaurant-menu-dish-ing">Zucchini, pepper, tomato, eggplant</p>
                <p class="restaurant-menu-dish-price">230 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">French fries</p>
                <p class="restaurant-menu-dish-weight">150 g</p>
                <p class="restaurant-menu-dish-ing">Potatoes, tomato sauce</p>
                <p class="restaurant-menu-dish-price">160 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Peasant-style potatoes</p>
                <p class="restaurant-menu-dish-weight">150 g</p>
                <p class="restaurant-menu-dish-ing">Potatoes, spices, spicy sauces</p>
                <p class="restaurant-menu-dish-price">160 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Crisp pickles from the barrel</p>
                <p class="restaurant-menu-dish-weight">250 g</p>
                <p class="restaurant-menu-dish-ing">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                <p class="restaurant-menu-dish-price">350 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Chicken wings in honey sauce</p>
                <p class="restaurant-menu-dish-weight">400 g</p>
                <p class="restaurant-menu-dish-ing">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                <!-- <p></p> -->
            </li>
        </ul>
    </div>
    <div class="restaurant-menu-list-wrap">
        <h4 class="restaurant-menu-list-title">Salads</h4>
        <ul class="restaurant-menu-list list">
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Caesar with chicken</p>
                <p class="restaurant-menu-dish-weight">230 g</p>
                <p class="restaurant-menu-dish-ing">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                <p class="restaurant-menu-dish-price">450 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Caesar with shrimp</p>
                <p class="restaurant-menu-dish-weight">230 g</p>
                <p class="restaurant-menu-dish-ing">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                <p class="restaurant-menu-dish-price">300 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Greek salad</p>
                <p class="restaurant-menu-dish-weight">230 g</p>
                <p class="restaurant-menu-dish-ing">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                <p class="restaurant-menu-dish-price">280 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Meat salad</p>
                <p class="restaurant-menu-dish-weight">230 g</p>
                <p class="restaurant-menu-dish-ing">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                <p class="restaurant-menu-dish-price">300 UAH</p>
            </li>
        </ul>
    </div>
    <div class="restaurant-menu-list-wrap">
        <h4 class="restaurant-menu-list-title">Desserts</h4>
        <ul>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Napoleon cake</p>
                <p class="restaurant-menu-dish-price">200 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Poppy cake</p>
                <p class="restaurant-menu-dish-price">300 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Tiramisu</p>
                <p class="restaurant-menu-dish-price">260 UAH</p>
            </li>
        </ul>
        <h4 class="restaurant-menu-list-title">Drinks</h4>
        <ul>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Black/green tea</p>
                <p class="restaurant-menu-dish-price"> 100 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Espresso</p>
                <p class="restaurant-menu-dish-price"> 100 UAH</p>
            </li>
            <li class="restaurant-menu-item">
                <p class="restaurant-menu-dish-name">Cappuccino</p>
                <p class="restaurant-menu-dish-price"> 100 UAH</p>
            </li>
        </ul>
    </div>
    <button class="restaurant-menu-btn" type="button">
        <span class="restaurant-menu-btn-text">Book a table</span>
    </button>
</section>