
@media screen and (min-width: 768px) {

    .restaurant-details > .container {
        width: 734px;
        margin-top: 80px;
    }

    .restaurant-details-text-wrap {
        margin-bottom: 80px;
        display: flex;
        gap: 32px;
    }

    .restaurant-details-title {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 68px;
        line-height: 1.0;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--color-dark);
    }

    .restaurant-details-text {
        max-width: 221px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--color-dark);
    }

    .restaurant-details-btn-wrap {
        display: none;
    }

    .restaurant-details-list {
        display: flex;
    }
    
    .restaurant-details-desk-pic {
        display: none;
    }
}