@media screen and (min-width: 1200px) {

    .restaurant-details-container {
        max-width: 1396px;
        max-height: 659px;
        padding-top: 44px;
        padding-bottom: 24px;
    }

    .restaurant-details-texts-wrap {
        display: flex;
        margin-bottom: 125px;
    }

    .restaurant-details-texts {
        margin-right: auto;
        margin-bottom: 0;
    }

    .restaurant-details-btns-upper {
        display: flex;
        gap: 14px;
    }

    .restaurant-details-btns {
        display: none;
    }

    .restaurant-details-slick-item-plus {
        display: block;
    }
    
    .restaurant-details-picture-plus {
        display: block;
    }
}