@media screen and (min-width: 1200px) {

    .restaurant-details-container {
        max-width: 1396px;
    }

    .restaurant-details-texts-wrap {
        display: flex;
        gap: 356px;
    }

    .restaurant-details-btns-upper {
        display: flex;
        gap: 14px;
    }

    .restaurant-details-btns {
        display: none;
    }
}