<section class="about-a-complex">
    <div class="container">
        <h2 hidden >About</h2>
        <div>
            <picture>
                <source srcset="../img/lounge_zone.jpg 1x, ../img/lounge_zone2x.jpg 2x" type="image/jpeg">
                <img src="../img/lounge_zone.jpg" alt="lounge-zone" width="335" alt="lounge-zone"> 
            </picture>
            <picture>
                <source srcset="../img/bath.jpg 1x, ../img/bath2x.jpg 2x" type="image/jpeg">
                <img src="../img/bath.jpg" alt="bath" width="282">
            </picture>
             <div>
                <img src="../img/foto_women.jpg" alt="коментар жінки">
                <p>Maria</p>
                <p>give rating 4.5</p>
             </div> 
                           
            <h3 class="title">restaurant-hotel complex</h3>

            <p class="text">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks,
            every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
            
            <p class="text">Treat yourself to a taste of the good life and come dine with us today!</p>
        </div>
        
        <div>
            <picture>
                <source srcset="../img/table-with-glass.jpg 1x, ../img/table-with-glass2x.jpg 2x">
                <img src="../img/table-with-glass.jpg" alt="tables-with-glass" width="335">
            </picture>
            <div>
                <img src="../img/foto_men.jpg" alt="коментар чоловіка">
                <p>Alexander</p>
                <p>give rating 5.5</p>
            </div>
            <h3 class="title">business class hotel</h3>
            <p class="text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable
            stay.</p>
            <picture>
                <source srcset="../img/restorant-room.jpg 1x, ../img/restorant-room2x.jpg 2x">
                <img src="../img/restorant-room.jpg" alt="restaurant-room" width="335">
            </picture>
        </div>            
      
    </div>
</section>
