<section class="About-a-complex">
    <div class="container">
        <h2 hidden>About</h2>
        <ul>
            <li>
                <img srcset="../img/lounge_zone.jpg 1x, ../img/lounge_zone2x.jpg 2x"
                src="../img/lounge_zone.jpg" alt="lounge-zone" width="335">
            </li>
            <li>
                <img srcset="../img/bath.jpg 1x, ../img/bath2x.jpg 2x"
                src="../img/bath.jpg" alt="bath" width="282">
            </li>
            
        </ul>

        <h3>restaurant-hotel complex</h3>
        <p>Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent
            steaks,
            every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.
            Treat yourself to a taste of the good life and come dine with us today!</p>
        <img srcset="../img/table-with-glass.jpg 1x, ../img/table-with-glass2x.jpg 2x"
        src="../img/table-with-glass.jpg" alt="tables-with-glass" width="335">

        <h3>business class hotel</h3>
        <p>The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable
            stay.</p>
        <img srcset="../img/restorant-room.jpg 1x, ../img/restorant-room2x.jpg 2x"
        src="../img/restorant-room.jpg" alt="restaurant-room" width="335">
    </div>
</section>
</body>

</html>