<section class="about-a-complex">
    <div class="container">
        <h2 hidden >About</h2>
        <div>
<!-- First-picture -->
            <picture>
                <source srcset="./img/page-home/about-complex/desktop/about-1-1x.jpg  1x, ./img/page-home/about-complex/desktop/about-1-2x.jpg 2x" media="(min-width:1440px)"/> 
                <source srcset="./img/page-home/about-complex/tablet/tab-about-1-1x.jpg  1x, ./img/page-home/about-complex/tablet/tab-about-1-2x.jpg 2x" media="(min-width:768px)"/>
                <source srcset="./img/page-home/about-complex/mobile/mob-about-1-1x.jpg  1x, ./img/page-home/about-complex/mobile/mob-about-1-2x.jpg 2x" media="(max-width:767px)"/>
                <img src="./img/page-home/about-complex/mobile/mob-about-1-1x.jpg" alt="lounge-zone" width="335"/>
            </picture>
<!-- Second-picture -->
            <picture>
                <source srcset="./img/page-home/about-complex/desktop/about-2-1x.jpg  1x, ./img/page-home/about-complex/desktop/about-2-2x.jpg 2x" media="(min-width:1440px)"/> 
                <source srcset="./img/page-home/about-complex/tablet/tab-about-2-1x.jpg  1x, ./img/page-home/about-complex/tablet/tab-about-2-2x.jpg 2x" media="(min-width:768px)"/>
                <source srcset="./img/page-home/about-complex/mobile/mob-about-2-1x.jpg  1x, ./img/page-home/about-complex/mobile/mob-about-2-2x.jpg 2x" media="(max-width:767px)"/>
                <img src="./img/page-home/about-complex/mobile/mob-about-2-1x.jpg" alt="bath" width="282"/>
            </picture>
            <div>
                <img src="./img/foto_women.jpg" alt="коментар жінки">
                <p>Maria</p>
                <p>give rating 4.5</p>
            </div> 
            <h3 class="title">restaurant-hotel complex</h3>
            <p class="text">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks,
            every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
            <p class="text">Treat yourself to a taste of the good life and come dine with us today!</p>
        </div>
        
        <div>
<!-- Third-picture -->
            <picture>
                <source srcset="./img/page-home/about-complex/desktop/about-4-1x.jpg  1x, ./img/page-home/about-complex/desktop/about-4-2x.jpg 2x" media="(min-width:1440px)"/> 
                <source srcset="./img/page-home/about-complex/tablet/tab-about-3-1x.jpg  1x, ./img/page-home/about-complex/tablet/tab-about-3-2x.jpg 2x" media="(min-width:768px)"/>
                <source srcset="./img/page-home/about-complex/mobile/mob-about-3-1x.jpg  1x, ./img/page-home/about-complex/mobile/mob-about-3-2x.jpg 2x" media="(max-width:767px)"/>
                <img src="./img/page-home/about-complex/mobile/mob-about-3-1x.jpg" alt="tables-with-glass" width="335"/>
            </picture>
            <div>
                <img src="./img/foto_men.jpg" alt="коментар чоловіка">
                <p>Alexander</p>
                <p>give rating 5.5</p>
            </div>
            <h3 class="title">business class hotel</h3>
            <p class="text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable
            stay.</p>
<!-- Third-picture -->
            <picture>
                <source srcset="./img/page-home/about-complex/desktop/about-3-1x.jpg  1x, ./img/page-home/about-complex/desktop/about-3-2x.jpg 2x" media="(min-width:1440px)"/> 
                <source srcset="./img/page-home/about-complex/tablet/tab-about-4-1x.jpg  1x, ./img/page-home/about-complex/tablet/tab-about-4-2x.jpg 2x" media="(min-width:768px)"/>
                <source srcset="./img/page-home/about-complex/mobile/mob-about-4-1x.jpg  1x, ./img/page-home/about-complex/mobile/mob-about-4-2x.jpg 2x" media="(max-width:767px)"/>
                <img src="./img/page-home/about-complex/mobile/mob-about-4-1x.jpg" alt="restaurant-room" width="335"/>
            </picture>
        </div>            

    </div>
</section>
