<section class="footer">
    <div class="container">
        <nav class="nav">
            <ul class="footer-story-list list">
                <li class="footer-story-item">
                    <a href="../index.html" class="footer-story-link link" target="_blank">Home</a>
                </li>
                <li class="footer-story-item">
                    <a href="./hotel.html" class="footer-story-link link" target="_blank">Hotel</a>
                </li>
                <li class="footer-story-item">
                    <a href="./restaurant.html" class="footer-story-link link" target="_blank">Restaurant</a>
                </li>
                <li class="footer-story-item">
                    <a href="./room.html" class="footer-story-link link" target="_blank">ROOM (для роботи CSS)</a>
                </li>
            </ul>
        </nav>
        <a href="../index.html" class="footer-link link">
            <span class="footer-name">MIMIMO</span>
            <span class="footer-discr">RESTAURANT-HOTEL COMPLEX</span>
        </a>
        <ul class="footer-icon-list list">
            <li class="footer-icon-item">
                <a href="https://www.instagram.com/" class="footer-link-soc" rel="noreferrer noopener">
                    <svg class="footer-soc-icon" width="24" height="24">
                        <use href="../img/icons/sprite.svg#icon-min-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-icon-item">
                <a href="https://www.facebook.com" class="footer-link-soc" rel="noreferrer noopener">
                    <svg class="footer-soc-icon" width="24" height="24">
                        <use href="../img/icons/sprite.svg#icon-min-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-icon-item">
                <a href="https://twitter.com" class="footer-link-soc" rel="noreferrer noopener">
                    <svg class="footer-soc-icon" width="24" height="24">
                        <use href="../img/icons/sprite.svg#icon-min-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>
