<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="./index.html">HOME</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./hotel.html">HOTEL</a>
        </li>
        <li classgit="header-item">
          <a class="header-link link" href="./restaurant.html">RESTAURANT</a>
        </li>
      </ul>

      <a class="header-logo" href="./index.html"
        >MIMINO <span class="header-logo-desc">RESTAURANT-HOTEL COMPLEX</span>
      </a>
    </nav>

    <ul class="header-list-soc list">
      <li class="header-item-soc">
        <a
          class="header-link-soc link"
          href="https://www.instagram.com/"
          aria-label="instagram"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="header-icons" width="24" height="24">
            <use href="./img/header-icons.svg#icon-max-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-item-soc">
        <a
          class="header-link-soc link"
          href="https://www.facebook.com/"
          aria-label="facebook"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="header-icons" width="24" height="24">
            <use href="./img/header-icons.svg#icon-max-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-item-soc">
        <a
          class="header-link-soc link"
          href="https://www.twitter.com/"
          aria-label="twitter"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="header-icons" width="24" height="24">
            <use href="./img/header-icons.svg#icon-max-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
