<section class="hotel-details">
<h1 class="details-title">HOTEL</h1>
<p class="details-text">Book your stay with us now and experience the epitome of comfort and luxury at our hotel. We guarantee you'll be thrilled with your decision.</p>
<!-- first-img -->
<picture>
    <source 
    srcset="./  1x, ./ 2x"
    media="(max-width: 767px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 768px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 1200px)"
    />
<img 
src="./"
alt="bed"
width="420"
/>
</picture>
<!-- second-img -->
<picture>
    <source 
    srcset="./  1x, ./ 2x"
    media="(max-width: 767px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 768px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 1200px)"
    />
<img 
src="./"
alt="shampo"
width="320"
/>
</picture>
<!-- third-img -->
<picture>
    <source 
    srcset="./  1x, ./ 2x"
    media="(max-width: 767px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 768px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 1200px)"
    />
<img 
src="./"
alt="bath"
width="320"
/>
</picture>
<button type="button" class="details-btn-1">Book a room</button>
<button type="button" class="details-btn-2">
    <a class="details-link link" href="..//hotel.html">View room</a>
    </button>
</section>





<!-- location  -->
<section  class="location">
<h3 class="location-title">LOCATION</h3>
<picture>
    <source 
    srcset="./  1x, ./ 2x"
    media="(max-width: 767px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 768px)"
    />
    <source 
    srcset="./  1x, ./ 2x"
    media="(min-width: 1200px)"
    />
<img 
src="./"
alt="map"
width=""
/>
</picture>
<div class="location-street">
<p class="location-subtitle">Ukraine, Poltava,
    St. Marshal Biryuzov, 15</p>
</div>
<div class="location-tel">
<p class="location-text">Call us:</p>
<ul class="location-list list">
    <li><a href="tel:0955559533" class="location-number link list">(095) 555 95 33</a></li>
    <li><a href="tel:0668491089" class="location-number link list">(066) 849 10 89</a></li>
</ul>
</div>
</section>





<!-- footerrrrrrr -->










































