<!-- location  -->
<!-- <section  class="location">
    <div class="container">
        <h2 class="location-title">LOCATION</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9322247928553!2d34.52447110372453!3d49.599027530612645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1677404571058!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <address class="location-street">
            <p class="location-address">Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
            <div class="location-tel">
                <p class="location-text">Call us:</p>
                <ul class="location-list list">
                    <li><a href="tel:0955559533" class="location-number link">(095) 555 95 33</a></li>
                    <li><a href="tel:0668491089" class="location-number link">(066) 849 10 89</a></li></ul>
            </div>
        </address>
    </div>
</section> -->