<!-- location  -->
<section  class="location">
    <h3 class="location-title">LOCATION</h3>
    <picture>
        <source 
        srcset="../img/page-home/location/location-mobile.jpg 1x,
        ../img/page-home/location/location-2x-mobile.jpg 2x"
        media="(max-width: 767px)"
        />
        <source 
        srcset="../img/page-home/location/location-tablet.jpg 1x,
        ../img/page-home/location/location-2x-tablet.jpg 2x"
        media="(min-width: 768px)"
        />
        <source 
        srcset="../img/page-home/location/location-desktop.jpg 1x,
        ../img/page-home/location/location-2x-desktop.jpg 2x"
        media="(min-width: 1200px)"
        />
    <img 
    src="../img/page-home/location/location-mobile.jpg"
    alt="map"
    />
    </picture>
    <div class="location-street">
    <p class="location-subtitle">Ukraine, Poltava,
        St. Marshal Biryuzov, 15</p>
    </div>
    <div class="location-tel">
    <p class="location-text">Call us:</p>
    <ul class="location-list list">
        <li><a href="tel:0955559533" class="location-number link">(095) 555 95 33</a></li>
        <li><a href="tel:0668491089" class="location-number link">(066) 849 10 89</a></li>
    </ul>
    </div>
    </section>