<div class="backdrop is-hidden">
    <div class="price">

    <button class="price-btn" type="button">
        <svg width="12" height="12">
            <use href="../img/icons/sprite.svg#btn-close"></use>
        </svg>
    </button>
    <h2 class="price-title">PRICES PER ROOM</h2>
    <h3 class="price-small-title">DOUBLE SUITE</h3>
    
    <form class="price-form">
        <div class="price-input-wrap">
            <select class="price-input" id="number" name="number">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <svg class="price-input-icon" width="10" height="5">
                <use href="../img/icons/sprite.svg#price-icon"></use>
            </svg>
            <label class="price-name" for="number">NUMBER OF NIGHTS</label>
        </div>
        <div class="price-input-wrap">
            <input class="price-input" type="date" name="number" id="number">
            <svg class="price-input-icon" width="10" height="5">
                <use href="../img/icons/sprite.svg#price-icon"></use>
            </svg>
            <label class="price-name" for="number">CHECK-IN DATE</label>
        </div>
        <button class="submit-bth" type="submit">MAKE A RESERVATION</button>
    </form>

    </div>
</div>