<section class="restaurant-details restaurant-details-container">
    <div class="restaurant-details-texts-wrap">
        <div class="restaurant-details-texts">
            <h2 class="restaurant-details-title">
                Restaurant
            </h2>
            <p class="restaurant-details-text">
                Relax and unwind with our delicious offerings, available any time of day.
            </p>
        </div>
        <div class="restaurant-details-btns-upper">
            <button type="button" class="restaurant-details-btn">
                <span class="restaurant-details-btn-text">Book a table</span>
            </button>
            <button type="button" class="restaurant-details-btn">
                <a class="restaurant-details-view-link link" href="..//restaurant.html">
                    <span class="restaurant-details-btn-text">View the menu</span>
                </a>
            </button>
        </div>
    </div>
    <div class="restaurant-details-slick">
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-1.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-1-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-1.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-1-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-1.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-1-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img class="restaurant-details-slick-img"
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-1.jpg" 
                    alt="A glass of coctail" 
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-2.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-2-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-2.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-2-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-2.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-2-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img 
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-2.jpg" 
                    alt="Two croissants on plate" 
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-3.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-3-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-3.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-3-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-3.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-3-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img 
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-3.jpg"
                    alt="Bottle of wine and glass"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-4.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-4-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-4.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-4-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-4.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-4-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-4.jpg"
                    alt="The chef is cooking"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-5.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-5-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-5.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-5-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-5.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-5-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-5.jpg"
                    alt="Cooked fish"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-6.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-6-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-6.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-6-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-6.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-6-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-6.jpg"
                    alt="Dishes and drinks on table"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item">
            <picture class="restaurant-details-picture">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-7.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-7-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-7.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/tablet/restaurant-details-tab-7-2x.jpg 2x"
                    media="(min-width: 768px)"
                />
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-7.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/mobile/restaurant-details-mob-7-2x.jpg 2x"
                    media="(max-width: 767px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-7.jpg"
                    alt="Girl's enjoying the meal"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item-plus">
            <picture class="restaurant-details-picture-plus">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-8.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-8-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-8.jpg"
                    alt="Cooked meal"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item-plus">
            <picture class="restaurant-details-picture-plus">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-9.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-9-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-9.jpg"
                    alt="Glass of tea on table"
                    width="336">
            </picture>
        </div>
        <div class="restaurant-details-slick-item-plus">
            <picture class="restaurant-details-picture-plus">
                <source
                    srcset="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-10.jpg 1x,
                    ../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-10-2x.jpg 2x"
                    media="(min-width: 1200px)"
                />
                <img
                    src="../img/restaurant-details-img/restaurants-details/desktop/restaurant-details-10.jpg"
                    alt="Cooked asparagus with the egg on top"
                    width="336">
            </picture>
        </div>
    </div>
    <div class="restaurant-details-btns">
        <button type="button" class="restaurant-details-btn">
            <span class="restaurant-details-btn-text">Book a table</span>
        </button>
        <button type="button" class="restaurant-details-btn">
            <a class="restaurant-details-view-link link" href="..//restaurant.html">
                <span class="restaurant-details-btn-text">View the menu</span>
            </a>
        </button>
    </div>
</section>